<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="images/manageIcon.png"/>
		<script src="/admin/loginState.html"></script>
		<title></title>
	</head>
	<body>
		<table>
			<tr>
				<td>html</td>
				<td>css</td>
				<td>javascript</td>
				<td>nodejs</td>
				<td>框架</td>
				<td>其他</td>
			</tr>
			<%for(var i=0; i<data.length; ++i){%>
			<tr>
				<td><%%></td>
				<td><%%></td>
				<td><%%></td>
				<td><%%></td>
				<td><%%></td>
				<td><%%></td>
			</tr>
			<%}%>
		</table>
	</body>
</html>
